# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.whl

# Virtual environments
.venv/
venv/
env/
.env

# PyPI / build
MANIFEST
*.dist-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# VSCode
.vscode/

# PyCharm / JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs (local dev)
*.log
